<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>附录6：大学表</title>
<style>
body{ padding: 0 2% ; margin:0; box-sizing:border-box;}
h3{ font-size:18px; line-height:30px; text-align:center;}
* {border: none; margin: 0; padding: 0}
table {border-collapse: collapse; border: none; }
table td { font-size: 14px; border: 1px solid #666; text-align:center; line-height:26px; }
.clear{ clear:both;}
.size { font-size: 12px;}
.tr_bottom td{ border-bottom:none;}
</style>
</head>

<body>
<h3>《国家学生体质健康标准》登记卡(大学样表）</h3>
<p style="float:right; margin:0 5px 3px 0;">学    校_____________________ </p>
<table width="100%" cellspacing="0" class="">
  <tr>
    <td width="10%"><strong>姓名</strong></td>
    <td width="20%">&nbsp;</td>
    <td width="10%"><strong>性别</strong></td>
    <td width="20%">&nbsp;</td>
    <td width="12%"><strong>学号</strong></td>
    <td width="18%">&nbsp;</td>
  </tr>
  <tr class="tr_bottom">
    <td><strong>班级</strong></td>
    <td>&nbsp;</td>
    <td><strong>民族</strong></td>
    <td>&nbsp;</td>
    <td><strong>出生日期</strong></td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <table width="100%" border="0" cellspacing="0" class="table1">
      <tr>
        <td rowspan="2"><strong>单项指标</strong></td>
        <td colspan="3"><strong>大一</strong></td>
        <td colspan="3"><strong>大二</strong></td>
        <td colspan="3"><strong>大三</strong></td>
        <td colspan="3"><strong>大四</strong></td>
        <td colspan="2"><strong>毕业成绩</strong></td>
        </tr>
      <tr>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
      </tr>
      <tr>
        <td>体重指数（BMI）<span class="size">（千克/米<sup>2</sup>）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td rowspan="19"></td>
        <td rowspan="19"></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>肺活量<span class="size">（毫升）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>50米跑<span class="size">（秒）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>坐位体前屈<span class="size">（厘米）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>立定跳远<span class="size">（厘米）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td style="line-height:16px; padding:2px;">引体向上（男）<br/>1分钟仰卧起坐（女）<span class="size">（次）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
         <tr>
        <td style="line-height:16px; padding:2px;">1000米跑（男）<br/>800米跑（女）<span class="size">（分·秒）</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td><strong>标准分</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        </tr>
      <tr>
        <td><strong>加分指标</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        </tr>
        <tr>
        <td style="line-height:16px; padding:2px;">引体向上（男）<br/>1分钟仰卧起坐（女）<span class="size">（次）</span></td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        </tr>
         <tr>
        <td style="line-height:16px; padding:2px;">1000米跑（男）<br/>800米跑（女）<span class="size">（分·秒）</span></td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        </tr>
      <tr>
      </tr>
      <tr>
        <td><strong>学年总分</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        </tr>
      <tr>
        <td><strong>等级评定</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        </tr>
      <tr>
        <td><strong>体育教师签字</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"></td>
        </tr>
      <tr>
        <td><strong>辅导员签字</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"></td>
        </tr>
    </table>
  </tr>
</table>
<p style="font-size:12px;margin-top:3px; margin-left: 10px;">注：高等职业学校、高等专科学校参照本样表执行。</p>
<p style="float:right; font-size:14px; margin-right: 15px">学校签章：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年 &nbsp;&nbsp;月&nbsp;&nbsp; 日</p>
<div class="clear"></div>
</body>
</html>
