<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登记表打印</title>
<style>
body{ padding: 0 2%; margin:0; box-sizing:border-box;}
h3{ font-size:18px; line-height:30px; text-align:center;}
* {border: none; margin: 0; padding: 0}
table {border-collapse: collapse; border: none; }
table td { font-size: 14px; border: 1px solid #666; text-align:center; line-height:24px; }
.clear{ clear:both;}
.size { font-size: 12px;}
.tr_bottom td{ border-bottom:none;}
</style>
<style media=print type="text/css"> 
.noprint{visibility:hidden} 
.PageNext{page-break-after: always;}     
</style>
</head>

<body>


