<div class="info">
<h3>《国家学生体质健康标准》登记卡(高中样表）</h3>
<p style=" float:right; margin-bottom:5px;  width:45%;" >学    校<input type="text" style="  border-bottom:1px solid #999; width:85%; float:right;  text-align:center;"  value="phyinfo['school_name']"></p>
<table width="100%" cellspacing="0" class="">
  <tr>
    <td width="10%"><strong>姓名</strong></td>
    <td width="20%">&nbsp;phyinfo['name']</td>
    <td width="10%"><strong>性别</strong></td>
    <td width="20%">&nbsp;phyinfo['sex']</td>
    <td width="12%"><strong>学号</strong></td>
    <td width="18%">&nbsp;phyinfo['country_education_id']</td>
  </tr>
 <tr class="tr_bottom">
    <td><strong>班级</strong></td>
    <td>&nbsp;phyinfo['class_name']</td>
    <td><strong>民族</strong></td>
    <td>&nbsp;phyinfo['folk']</td>
    <td><strong>出生日期</strong></td>
    <td>&nbsp;phyinfo['birthday']</td>
  </tr>
  <tr>
    <table width="100%" border="0" cellspacing="0" class="table1">
      <tr>
        <td rowspan="2" width="20%"><strong>单项指标</strong></td>
        <td colspan="3" width="20%"><strong>高一</strong></td>
        <td colspan="3" width="20%"><strong>高二</strong></td>
        <td colspan="3" width="20%"><strong>高三</strong></td>
        <td colspan="2" width="20%"><strong>毕业成绩</strong></td>
        </tr>
      <tr>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>成绩</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
        <td><strong>得分</strong></td>
        <td><strong>等级</strong></td>
      </tr>
      <tr>
        <td>体重指数（BMI）<span class="size">（千克/米<sup>2</sup>）</span></td>
        <td rowspan="2">&nbsp;phyinfo['result_31_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_31_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_31_27']</td>
        <td rowspan="2">&nbsp;phyinfo['result_32_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_32_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_32_27']</td>
        <td rowspan="2">&nbsp;phyinfo['result_33_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_33_27']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_33_27']</td>
    <td rowspan="19">&nbsp;phyinfo['avg_score']</td>
    <td rowspan="19">&nbsp;phyinfo['avg_score_level']</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>肺活量<span class="size">（毫升）</span></td>
        <td rowspan="2">&nbsp;phyinfo['result_31_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_31_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_31_04']</td>
        <td rowspan="2">&nbsp;phyinfo['result_32_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_32_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_32_04']</td>
        <td rowspan="2">&nbsp;phyinfo['result_33_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_33_04']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_33_04']</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>50米跑<span class="size">（秒）</span></td>
        <td rowspan="2">&nbsp;phyinfo['result_31_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_31_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_31_05']</td>
        <td rowspan="2">&nbsp;phyinfo['result_32_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_32_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_32_05']</td>
        <td rowspan="2">&nbsp;phyinfo['result_33_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_33_05']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_33_05']</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>坐位体前屈<span class="size">（厘米）</span></td>
        <td rowspan="2">&nbsp;phyinfo['result_31_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_31_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_31_07']</td>
        <td rowspan="2">&nbsp;phyinfo['result_32_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_32_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_32_07']</td>
        <td rowspan="2">&nbsp;phyinfo['result_33_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_33_07']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_33_07']</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>立定跳远<span class="size">（厘米）</span></td>
        <td rowspan="2">&nbsp;phyinfo['result_31_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_31_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_31_06']</td>
        <td rowspan="2">&nbsp;phyinfo['result_32_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_32_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_32_06']</td>
        <td rowspan="2">&nbsp;phyinfo['result_33_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_33_06']</td>
        <td rowspan="2">&nbsp;phyinfo['score_level_33_06']</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td style="line-height:16px; padding:2px;">引体向上（男）<br/>1分钟仰卧起坐（女）<span class="size">（次）</span></td>
        <td >&nbsp;phyinfo['result_31_ywqz_ytxs']</td>
        <td >&nbsp;phyinfo['score_31_ywqz_ytxs']</td>
        <td >&nbsp;phyinfo['score_level_31_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['result_32_ywqz_ytxs']</td>
        <td >&nbsp;phyinfo['score_32_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['score_level_32_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['result_33_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['score_33_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['score_level_33_ywqz_ytxs']</td>
        </tr>
         <tr>
        <td style="line-height:16px; padding:2px;">1000米跑（男）<br/>800米跑（女）<span class="size">（分·秒）</span></td>
        <td >&nbsp;phyinfo['result_31_bbm_yqm']</td>
        <td>&nbsp;phyinfo['score_31_bbm_yqm']</td>
        <td >&nbsp;phyinfo['score_level_31_bbm_yqm']</td>
        <td >&nbsp;phyinfo['result_32_bbm_yqm']</td>
        <td>&nbsp;phyinfo['score_32_bbm_yqm']</td>
        <td>&nbsp;phyinfo['score_level_32_bbm_yqm']</td>
         <td>&nbsp;phyinfo['result_33_bbm_yqm']</td>
        <td>&nbsp;phyinfo['score_33_bbm_yqm']</td>
        <td>&nbsp;phyinfo['score_level_33_bbm_yqm']</td>
        </tr>
        <tr>
        <td><strong>标准分</strong></td>
        <td colspan="3">&nbsp;phyinfo['total_score_ori_31']</td>
        <td colspan="3">&nbsp;phyinfo['total_score_ori_32']</td>
        <td colspan="3">&nbsp;phyinfo['total_score_ori_33']</td>
        </tr>
      <tr>
        <td><strong>加分指标</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        <td><strong>成绩</strong></td>
        <td colspan="2" ><strong>附加分</strong></td>
        </tr>
        <tr>
        <td style="line-height:16px; padding:2px;">引体向上（男）<br/>1分钟仰卧起坐（女）<span class="size">（次）</span></td>
        <td>&nbsp;phyinfo['result_31_ywqz_ytxs']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_31_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['result_32_ywqz_ytxs']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_32_ywqz_ytxs']</td>
        <td>&nbsp;phyinfo['result_33_ywqz_ytxs']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_33_ywqz_ytxs']</td>
        </tr>
         <tr>
        <td style="line-height:16px; padding:2px;">1000米跑（男）<br/>800米跑（女）<span class="size">（分·秒）</span></td>
        <td>&nbsp;phyinfo['result_31_bbm_yqm']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_31_bbm_yqm']</td>
        <td>&nbsp;phyinfo['result_32_bbm_yqm']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_32_bbm_yqm']</td>
        <td>&nbsp;phyinfo['result_33_bbm_yqm']</td>
        <td colspan="2">&nbsp;phyinfo['addach_score_33_bbm_yqm']</td>
        </tr>
      <tr>
      </tr>
      <tr>
        <td><strong>学年总分</strong></td>
    <td colspan="3">&nbsp;phyinfo['total_score_31']</td>
    <td colspan="3">&nbsp;phyinfo['total_score_32']</td>
    <td colspan="3">&nbsp;phyinfo['total_score_33']</td>
        </tr>
      <tr>
        <td><strong>等级评定</strong></td>
        <td colspan="3">&nbsp;phyinfo['score_level_31']</td>
        <td colspan="3">&nbsp;phyinfo['score_level_32']</td>
        <td colspan="3">&nbsp;phyinfo['score_level_33']</td>
        </tr>
      <tr>
        <td><strong>体育教师签字</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"></td>
        </tr>
      <tr>
        <td><strong>班主任签字</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"></td>
        </tr>
      <tr>
        <td><strong>家长签字</strong></td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"></td>
        </tr>
    </table>
  </tr>
</table>
<p style="font-size:12px;margin-top:5px; margin-left: 10px;">注：中等职业学校参照本样表执行。</p>
<p style="float:right; font-size:14px; margin:0 15px 0 0;">学校签章：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;phyinfo['time']</p>
<div class="clear"></div>
</div>