<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>国家学生体质健康标准测试数据管理与报送系统</title>
<link href="__PUBLIC__/assets/css/login.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="center">
    	<div class="logon">
        	<div class="loginform">
            <form action="{:U('Home/Index/login')}" method="post" id="loginForm">
            	 <div class="user">
                 	<input type="text" name="login_name" class="username" placeholder="用户名" value="{$login_name}" check="^\S{1,15}$" warning="请输入用户名，字符长度不超过15"/>
                    <img src="__PUBLIC__/assets/images/user-login.jpg">
                 </div>
               	 <div class="user">
                 	<input type="password" name="login_pwd" class="userpass" placeholder="密码" check="^\S{1,30}$" warning="请输入密码，密码长度不超过30"/>
                    <img src="__PUBLIC__/assets/images/user.pass.jpg">
                 </div>      
                 <div class="from_item clearfix">
                 	<label><input type="checkbox" class="ace" name="remember" value="on" <neq name="login_name" value="">checked="checked"</neq>/><span>记住用户名</span></label>   
                 </div>
               
             	<button type="button" class="btn" id="submitBtn"></button>
                </form>
            </div>
        </div>
    
    </div>
    <div class="footer">
    <br>
    	<p>北京市技术服务电话：010-82364972、010-82364980 <a class="bjemail"> 北京市客服邮箱：tzjc@chzh.cn、kf@chzh.cn</a>
           教育部技术服务电话：010-66169800、66171820     <a> 教育部邮箱：csh@moe.edu.cn</a>
        </p>
        <p>版权所有：北京市体育卫生与艺术教育处     <a> 技术支持：北京盛学成长科技有限公司</a></p>
    </div>
</div>





 <script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>


<!--[if IE]>
<script src="__PUBLIC__/assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<!-- inline scripts related to this page -->
<script src="__PUBLIC__/assets/js/layer/layer.js"></script>
<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
<script src="__PUBLIC__/assets/js/is_chzh.js"></script>
<script type="text/javascript">
            $(document).ready(function(){
                var bw = $(window).width();
                var bh = $(window).height();
                var zh=bh-$('.footer').height();
                $('.center').css('height',zh+'px');


                document.onkeydown = function(e){ 
                var ev = document.all ? window.event : e;
                if(ev.keyCode==13) {
                //  $('#submitBtn').click();
                 }
                }
                $('#submitBtn').click(function(){
                    $('#loginForm').ajaxSubmit({beforeSubmit:function(){
                        var result = allCheckForm(document.forms[0]);
                        return result;
                    },success:function(data){
                        if(data.errno == 0){
                            console.log(data.url);
                            layer.alert(data.errtitle,{icon : 1}, function(){
                                window.location.href = data.url;
                            });
                        }else{
                            layer.alert(data.errtitle,{icon : 0});
                            return false;
                        }
                    },error:function(){
                        layer.alert('服务器返回数据失败，请重试！',{icon : 2})
                    },dataType:'json'});
                });

            });
        </script>
</body>
</html>
