<include file="Common:header" />
	<!-- navber -->
	<!-- 加载页面 // -->
	<include file="Common:navbar" />

					<div class="page-content">
					<!--
					<div class="table-header">温馨提示：如发现下载的模板中数据与实际学籍信息有误，请及时拨打客服电话，我们将协助您一起解决</div>
					-->
					<hr/>
						<div class="page-header">
							<form action="" id="showForm" method="get">
								<input value="showList" type="hidden" name="ac"/>
								<select name="school_year" id="school_year" disabled="disabled" class="select2 width-15">{$school_year_options}</select>
								<select name="town_id" id="town_id"  class="select2 width-15">{$town_id_options}</select>
								<select name="school_code" id="school_code"  class="select2 width-25">{$school_code_options}</select>
								<select name="show_type" id="show_type"  class="select2 width-15">
								<option value="">是否参测</option>
								<option value="1" <eq name="show_type" value="1">selected</eq>>是</option>
								<option value="0" <eq name="show_type" value="0">selected</eq>>否</option>
								</select>
								&nbsp;&nbsp;&nbsp;
								<input type="submit" class="btn btn-small btn-white" value="查看"/> 
							</form>
						</div><!-- /.page-header -->
							<div class="row">
								<div class="col-xs-12">
									<div class="table-responsive">
										<table id="sample-table-1" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>区县名称</th><th>学校名称</th><th>是否参测</th>
												</tr>
											</thead>
											<tbody>
											<volist name="schools['list']" id="vo">
												<tr><td>{$vo.town_name}</td><td>{$vo.school_name}</td><td><select onchange="set_in_school(this,'{$vo.school_code}',this.value)"><option value="1" <eq name="vo['join_test']" value="1">selected</eq>>是</option><option value="0"  <eq name="vo['join_test']" value="0">selected</eq>>否</select></td></tr>
											</volist>
											</tbody>
										</table>
									</div><!-- /.table-responsive -->
								</div><!-- /span -->
								<!--page-->
								<neq name="schools['page']" value="">
								<div class="message-footer clearfix">{$schools.page}</div>
								</neq>
								<!--/page-->
							</div><!-- /row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/assets/js/select2.min.js"></script>
		<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
		<script src='__PUBLIC__/assets/js/is_chzh.js'></script>
		<script type="text/javascript">
			jQuery(function($) {
				$(".select2").select2();

				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_code');
				});

			});
			function set_in_school(obj,id,join){
				if(!obj||!id||!join) return;
				$.post('{:U(Home/Manage/setSchoolTest)}',{ac:'set',id:id,join:join},function(result){
					if(result.errno != 0){
						layer.alert(result.errtitle,{icon : 0});
						return;
					}else{
						layer.alert(result.errtitle,{icon : 1},function(index){
							window.location.reload();
						});
					}
				},'json');
			}
		</script>

<include file="Common:footer" />