<include file="Common:header" />
	<!-- navber -->
	<!-- 加载页面 // -->
	<include file="Common:navbar" />

					<div class="page-content">
						<div class="page-header">
							<div class="table-header">数据上报截止时间为：2014年12月20日，上报过程中，如有疑问，请您将问题统一反馈至本区县体质负责人，谢谢</div>
						</div><!-- /.page-header -->
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-sm-8">
												<input type="hidden" name="dType" id="dType" value="0">
												<input value="showStuInfo" type="hidden" name="ac"/>
												<select name="school_year" id="school_year" class="select2 width-20" disabled>{$school_year_options}</select>
												<select name="town_id" id="town_id"  class="select2 width-25">{$town_id_options}</select>
												<select name="school_code" id="school_code" class="select2 width-50">{$school_code_options}</select>
												<!--<input type="button" aname="d3" class="btn btn-small btn-white" value="有全国学籍号学生下载"/> 
												<input type="button" class="btn btn-small btn-white"  aname="d5" value="无全国学籍号学生下载"/>-->
										</div>
									</div>
									<div class="row" style="padding:20px"></div>
									<div class="row">
										<div class="col-sm-6">
											<input id="file-0a" name="file_data" type="file" data-min-file-count="1" data-overwrite-initial="false" file-id='11'>
										</div>
									</div>
								</div>
							</div><!-- /row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/assets/js/select2.min.js"></script>
		<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
		<script src='__PUBLIC__/assets/js/is_chzh.js'></script>

		<script src='__PUBLIC__/assets/js/fileinput.min.js'></script>
		<script src='__PUBLIC__/assets/js/fileinput_zh.js'></script>
		<script type="text/javascript">
			jQuery(function($) {

		        $("#file-0a").fileinput({
			        language: 'zh',
			        showPreview : false,
			        showUpload: true,
			        showCaption: true,
			        uploadUrl: '#',
			       	allowedFileExtensions : ['xls', 'xlsx'],
			        // slugCallback : function(filename) {
        			// }
		        });

				$(".select2").select2();

				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_code');
				});
				$('#school_id').change(function(){
					//ajaxSelectSchool('school','school_id');

				});
				//提交表单
				$("input[type=button]").click(function(){
					var dtype = $(this).attr('aname');
					if(dtype == 'undefined' || dtype == ''){
						alert('您的操作有误，请刷新页面后重试');
						return false;
					}
					$('#dType').val(dtype);
					$('#Form').submit();
				});
			});

		</script>

<include file="Common:footer" />