<include file="Common:header" />
	<!-- navber -->
	<!-- 加载页面 // -->
	<include file="Common:navbar" />

					<div class="page-content">
					<div class="table-header">温馨提示：如发现下载的模板中数据与实际学籍信息有误，请及时拨打客服电话，我们将协助您一起解决</div>
					<hr/>
						<div class="page-header">
							
							<div class="widget-body">
							<form action="" id="downForm" method="post">
								<input type="hidden" name="dType" id="dType" value="0">
								<input value="showStuInfo" type="hidden" name="ac"/>
								<select name="school_year" id="school_year" class="select2 width-10" disabled>{$school_year_options}</select>
								<select name="town_id" id="town_id"  class="select2 width-10">{$town_id_options}</select>
								<select name="school_id" id="school_id"  class="select2 width-25">{$school_id_options}</select>
								<input type="file" id="id-input-file-2" class="input-group" />
								&nbsp;&nbsp;&nbsp;
								<input type="button" aname="d3" class="btn btn-small btn-white" value="有全国学籍号学生下载"/> 
								<input type="button" class="btn btn-small btn-white"  aname="d5" value="无全国学籍号学生下载"/>
							</form>
							</div>

						</div><!-- /.page-header -->

							<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">

											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<tbody>
													<tr><td class="width-30">学校全部人数</td><td>{$sch_status.s_cnt}</td></tr>
													<tr><td>其中不在学人数</td><td>{$sch_status.s_notinschool_cnt}</td></tr>
													<tr><td>有全国学籍号人数</td><td>{$sch_status['s_cnt'] - $sch_status['s_noceid_cnt']}</td></tr>
													<tr><td>没有全国学籍号人数</td><td>{$sch_status.s_noceid_cnt}</td></tr>
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
									<!--page-->
									<neq name="stuinfos['page']" value="">
									<div class="message-footer clearfix">{$stuinfos.page}</div>
									</neq>
									<!--/page-->
							</div><!-- /row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/assets/js/select2.min.js"></script>
		<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
		<script src='__PUBLIC__/assets/js/is_chzh.js'></script>
		<script type="text/javascript">
			jQuery(function($) {
				$('#id-input-file-1 , #id-input-file-2').ace_file_input({
					style:'width:20%',
					no_file:'请选择要上传的文件！',
					btn_choose:'选择文件',
					btn_change:'Change',
					droppable:false,
					onchange:null,
					thumbnail:false //| true | large
					//whitelist:'gif|png|jpg|jpeg'
					//blacklist:'exe|php'
					//onchange:''
					//
				});
		

				$(".select2").select2();

				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_id');
				});
				//提交表单
				$("input[type=button]").click(function(){
					var dtype = $(this).attr('aname');
					if(dtype == 'undefined' || dtype == ''){
						alert('您的操作有误，请刷新页面后重试');
						return false;
					}
					$('#dType').val(dtype);
					$('#downForm').submit();
				});
			});
			<eq name="userinfo['user_kind']" value="109030">
			function setInSchool(obj,id,in_school){
				if(!id || in_school == 'undefined')return;
				$.post('{:U('Home/Show/stuInfo')}',{ac : 'chooseInSchool',id : id, in_school : in_school},function(result){
					if(result.errno != 0){
						layer.alert(result.errtitle,{icon : 2});
						return;
					}
					layer.alert(result.errtitle,{icon : 1});
				});
			}
			</eq>
		</script>

<include file="Common:footer" />