		<script src='__PUBLIC__/assets/js/uploadify/jquery.uploadify.min.js'></script>
		<script type="text/javascript">
			jQuery(function($) {
				$('#file_upload').uploadify({
					'debug' : true,
					'auto'	: true,
					'successTimeout':99999,
					'formData'     : {
						'timestamp' : '{$timestamp}',
						'token'     : '<php>echo md5(C('UNIQUE_SALT') . $timestamp);</php>',
						'{:session_name()}':'{:session_id()}',
						'ac' : '{$ac|default='phydata'}',
					},
					'swf'      : '__PUBLIC__/assets/js/uploadify/uploadify.swf',
					'uploader' : '{:U('Home/Up/index')}',
					'fileObjName':'file_data',
			        'buttonImage':'__PUBLIC__/assets/images/uploadbtn.png',
			        'width':'100',
			        'height':'35',
			       // 'fileTypeDesc':'只能上传excel文件：',
			        'fileTypeExts':'*.xls;*.xlsx;',
			        'fileSizeLimit':'3MB',
			        'onUploadProgress' : function(file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
			             //有时候上传进度什么想自己个性化控制，可以利用这个方法
			             //使用方法见官方说明
			        },
			        'onSelect' : function(file) {
			        	$('#file_upload').uploadify('settings','formData',{
			        		school_year : 	$('#school_year').val(),
			        		town_id : 		$('#town_id').val(),
			        		school_code : 	''	+	$('#school_code').val()
			        	});
			        },
			        'onUploadStart' : function(file){
			        	if($('#school_code').val() == '' || $('#school_code').val() == '0' || $('#school_code').val() == 'undefined'){
			        		layer.alert('请选择要上传数据的学校!',{icon:0});
			        		$('#file_upload').uploadify('cancel');
			        	}
			        },
			        'onSelectError':function(file, errorCode, errorMsg){
			            switch(errorCode) {
			                case -100:
			                    layer.alert("上传的文件数量已经超出系统限制的"+$('#file_upload').uploadify('settings','queueSizeLimit')+"个文件！",{icon:0});
			                    break;
			                case -110:
			                    layer.alert("文件 ["+file.name+"] 大小超出系统限制的"+$('#file_upload').uploadify('settings','fileSizeLimit')+"大小！",{icon:0});
			                    break;
			                case -120:
			                    layer.alert("文件 ["+file.name+"] 大小异常！",{icon:0});
			                    break;
			                case -130:
			                    layer.alert("文件 ["+file.name+"] 类型不正确！",{icon:0});
			                    break;
			            }
			        },
			        //检测FLASH失败调用
			        'onFallback':function(){
			            layer.alert("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。",{icon:0});
			            return;
			        },
			        'onUploadSuccess':function(file, data, response){
			        	var dataObj=eval("("+data+")");
			        	if(dataObj.errno != 0){
			        		layer.alert(dataObj.errtitle,{icon:0});
			        		return;
			        	}

			            console.log(dataObj.errno);
			        }
				});
		

				$(".select2").select2();

				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_code');
				});
				$('#school_id').change(function(){
					//ajaxSelectSchool('school','school_id');
				});
			});
		</script>