<include file="Common:header" />
	<!-- navber -->
	<!-- 加载页面 // -->
	<include file="Common:navbar" />

					<div class="page-content">
					
					<div class="table-header"> 温馨提示：您可以点击 综合成绩 查看该学生的各项目成绩。</div>
					
					<hr/>
						<div class="page-header">
							<form action="" id="showForm" method="get">
								<input value="showPhyInfo" type="hidden" name="ac"/>
								<select name="school_year" id="school_year" class="select2 width-15">{$school_year_options}</select>
								<select name="town_id" id="town_id"  class="select2 width-10">{$town_id_options}</select>
								<select name="school_code" id="school_code"  class="select2 width-25">{$school_code_options}</select>
								<select name="school_grade" id="school_grade"  class="select2 width-10">{$school_grade_options}</select>
								<select name="class_num" id="class_num"  class="select2 width-10">{$class_num_options}</select>
								&nbsp;&nbsp;&nbsp;
								<input type="button" class="btn btn-small btn-white" dtype="showPhyInfo" value="查看"/> 
								<input type="button" class="btn btn-small btn-white" dtype="downPhyInfo"  value="下载"/>
							</form>
						</div><!-- /.page-header -->

							<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<eq name="dtype" value="rank"><th>名次</th></eq>
														<th>ID</th>
														<th>区县</th>
														<th>姓名</th>
														<th>全国学籍号</th>
														<th>学校名称</th>
														<th>年级</th>
														<th>班级</th>
														<th>性别</th>
														<th>综合成绩</th>
														<th>综合评定</th>
														<th>测试成绩</th>
														<th>测试成绩评定</th>
														<th>附加分</th>
													</tr>
												</thead>

												<tbody>
												<volist name="phyinfos['list']" id="vo">
													<tr>
														<eq name="dtype" value="rank"><td>{$vo.rank}</td></eq>
														<td>
															{$vo.year_score_id}
														</td>
														<td>{$vo.town_name}</td>
														<td class="hidden-480">{$vo.name}</td>

														<td>{$vo.country_education_id}</td>
														<td>{$vo.school_name}</td>
														<td>{$vo.grade_name}</td>
														<td>{$vo.class_name}</td>
														<td>{$vo.sex}</td>
														<td>{$vo.total_score}</td>
														<td>{$vo.score_level}</td>
														<td>{$vo.total_score_ori}</td>
														<td>{$vo.score_level_ori}</td>
														<td>{$vo.addach_score}</td>
													</tr>
												</volist>
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
									<!--page-->
									<neq name="phyinfos['page']" value="">
									<div class="message-footer clearfix">{$phyinfos.page}</div>
									</neq>
									<!--/page-->
							</div><!-- /row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/assets/js/select2.min.js"></script>
		<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
		<script src='__PUBLIC__/assets/js/is_chzh.js'></script>
		<script type="text/javascript">
			jQuery(function($) {
				$(".select2").select2();

				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_code');
				});
				//年级下拉框
				$('#school_code').change(function(){
					ajaxSelectSchool('grade','school_grade');
				});
				//班级下拉框
				$('#school_grade').change(function(){
					ajaxSelectSchool('class','class_num');
				});
				//提交表单
				$("input[type=button]").click(function(){
					var dtype = $(this).attr('dtype');
					if(dtype == 'undefined' || dtype == ''){
						alert('您的操作有误，请刷新页面后重试');
						return false;
					}
					$('#ac').val(dtype);
					$('#showForm').submit();
				});
			});
		</script>

<include file="Common:footer" />