<include file="Common:header" />
	<!-- navber -->
	<!-- 加载页面 // -->
	<include file="Common:navbar" />

					<div class="page-content">
					<!--
					<div class="table-header">温馨提示：如发现下载的模板中数据与实际学籍信息有误，请及时拨打客服电话，我们将协助您一起解决</div>
					-->
					<hr/>
						<div class="page-header">
							<form action="" id="downForm" method="get">
								<select name="school_year" id="school_year" class="select2 width-15">{$school_year_options}</select>
								<select name="town_id" id="town_id"  class="select2 width-15">{$town_id_options}</select>
								<select name="school_code" id="school_code"  class="select2 width-30">{$school_code_options}</select>
								<select name="school_grade" id="school_grade"  class="select2 width-10">{$school_grade_options}</select>
								<select name="class_num" id="class_num"  class="select2 width-10">{$class_num_options}</select>
								&nbsp;&nbsp;&nbsp;
								<input type="submit" class="btn btn-small btn-white" name="ac" value="查看"/> 
								<input type="submit" class="btn btn-small btn-white" name="ac" value="下载"/>
							</form>
						</div><!-- /.page-header -->

							<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">

											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<tbody>
													<tr><td class="width-30">总人数</td><td>{$sch_status.s_cnt}</td></tr>
													<tr><td>应受检人数(是指有全国学籍号且在学的人数)</td><td>{$sch_status['s_ysj_cnt']}</td></tr>
													<tr><td>未受检人数</td><td>{$sch_status['s_wsj_cnt']}</td></tr>
													<tr><td>上传率</td><td>{$sch_status['s_scl']}</td></tr>
													<tr><td>免体人数</td><td>{$sch_status.s_phyavoid_cnt}</td></tr>
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
									<!--page-->
									<neq name="stuinfos['page']" value="">
									<div class="message-footer clearfix">{$stuinfos.page}</div>
									</neq>
									<!--/page-->
							</div><!-- /row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/assets/js/select2.min.js"></script>
		<script src='__PUBLIC__/assets/js/jquery.form.js'></script>
		<script src='__PUBLIC__/assets/js/is_chzh.js'></script>
		<script type="text/javascript">
			jQuery(function($) {
				$(".select2").select2();
				$('#school_year').change(function(){
					// $('#town_id').empty();
					// $('#school_code').empty
				});
				//学校下拉框
				$('#town_id').change(function(){
					ajaxSelectSchool('school','school_code');
				});
				//年级下拉框
				$('#school_code').change(function(){
					ajaxSelectSchool('grade','school_grade');
				});
				//班级下拉框
				$('#school_grade').change(function(){
					ajaxSelectSchool('class','class_num');
				});
			});
		</script>

<include file="Common:footer" />